.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  color: #aaa;
  margin-bottom: 2em;
}

.about a {
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 0.5em;
}
